.navbar {
    border-bottom: 1px solid $primary;
}

.dropdown-item {
    display: block;
    width: 100%; // For `<button>`s
    padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
    clear: both;
    font-weight: $font-weight-normal;
    color: var(--#{$prefix}dropdown-link-color);
    text-align: inherit; // For `<button>`s
    text-decoration: if($link-decoration == none, null, none);
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s
    @include border-radius(var(--#{$prefix}dropdown-item-border-radius, 0));
  
    &:hover,
    &:focus {
      color: $primary;
      text-decoration: if($link-hover-decoration == underline, none, null);
      @include gradient-bg(var(--#{$prefix}dropdown-link-hover-bg));
    }
  
    &.active,
    &:active {
      color: var(--#{$prefix}dropdown-link-active-color);
      text-decoration: none;
      @include gradient-bg(var(--#{$prefix}dropdown-link-active-bg));
    }
  
    &.disabled,
    &:disabled {
      color: var(--#{$prefix}dropdown-link-disabled-color);
      pointer-events: none;
      background-color: transparent;
      // Remove CSS gradients if they're enabled
      background-image: if($enable-gradients, none, null);
    }
  }

.dropdown-menu { 
  --#{$prefix}dropdown-link-active-color: $primary;
}